#news {
	margin: 50px 0 0 0;
}


.main-div-parinte {
	margin: 5px 0px 50px 0px;
	float: left;
	width: 100%;
	height: auto;
	
	overflow: hidden;
	word-wrap: break-word;
	word-break: keep-all;
	border-left: 6px solid #000066;
    background-color: #ffb3b3;
	padding: 3px;
}

.main-div-parinte h1{
	overflow: hidden;
    font-family: Tempus Sans ITC;
	color: #000066;
	font-weight: bold;
	font-size: 100%;
	text-align: left;
}

.main-div-parinte h2{
    display: block;
	font-size: 105%;
	font-weight: normal;
}

.controlpanel{
    width: 120%; height: 30px;
	margin-left: -45px;
	margin-top: -5px;
    border-style: solid;
    border-color: #81BEF7;
    background-color: #81BEF7;
}

input[type=button] {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	font-size:50%;
	color:#000066;
}


/*** responsivnes ***/

/*For mobile*/
.main-div-parinte h1{
	font-size: 100%;
}
.main-div-parinte h2{
	font-size: 80%;
	}

@media only screen and (min-width: 600px) {
    /* For tablets: */
	.main-div-parinte h1{
	font-size: 200%;
	}
	.main-div-parinte h2{
	font-size: 170%;
	}		
}